/* Global Styles */
body {
    background-color: #E8DEFF;
    font-family: 'Libre Caslon Display', serif;
    font-size: 22px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Libre Caslon Display', serif;
    font-weight: 400;
}

h1, h2 {
    font-size: 50px;
    color: #311848;
}

h3 {
    font-size: 28px;
    color: #311848;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    color: #88102D;
    font-weight: 600;
}

/* Navigation Styles */
.inline-block {
    display: inline-block;
    vertical-align: auto;
    text-align: right;
}

#logoImg {
    display: inline-block;
}

#logoImg img {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    animation: fadeInAndScale 2.5s forwards;
}

@keyframes fadeInAndScale {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(2.5);
    }
}

.logo {
    margin-right: 75px;
    width: 23%;
    padding: 1%;
}

.logo-link {
    display: none;
}

.pastfuture {
    float: right;
}

.top {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    justify-items: flex-end;
    display: flex;
    flex-direction: column;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.navigation {
    background-color: #E8DEFF;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    width: 50%;
    margin-left: auto;
}

.navigation .logo img,
.footer .logo img {
    width: 250px;
    height: auto;
}

.container {
    height: auto;
    width: 70%;
    padding: 10px;
    float: left;
}

.right {
    width: 27%;
    float: right;
    padding-left: 10px;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

/* Footer Styles */
.footer {
    padding: 20px;
    margin-top: auto;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

.footer li {
    display: inline-block;
    padding: 0 10px;
}

/* Button Styles */
button {
    background-color: transparent;
    border: 0px solid #311848;
    color: #EDE7E2;
    padding: 5px 10px;
    font-size: 55px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    -webkit-text-stroke: 2px #311848;
}

button:hover {
    background-color: #C3F0E8;
    color: black;
}


